Source: libphysfs0
Priority: optional
Maintainer: Colin Bayer <vogon@icculus.org>
Build-Depends: debhelper (>> 3.0.0), binutils (>= 2.12.90.0.1-4 ), fileutils (>= 4.1-10 ), gcc-2.95 (>= 1 ), libc6 (>= 2.2.5-10 ), libncurses5 (>= 5.2.20020112a-8 ), zlib1g (>= 1 ), libncurses5-dev (>= 5.2.20020112a-8 ), zlib1g-dev (>= 1 ), doxygen
Standards-Version: 3.5.2

Package: libphysfs0-dev
Section: devel
Architecture: any
Depends: libphysfs0 (= ${Source-Version})
Description: A filesystem abstraction for game programmers.
 libphysfs0-dev is the set of header files needed to compile programs that
 utilize the libphysfs0 library.

Package: libphysfs0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: A filesystem abstraction for game programmers.
 libphysfs0 is the PhysicsFS filesystem abstraction library, a library that
 provides a simple C interface to aid game programmers in utilizing game 
 assets packaged in many different types of archive files.		
